<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">

body{
	background-image: url("/static/img/mail.png");
	background-size: cover;
}
.rmail-div{
	background-color:rgb(24, 211, 218);
	
	width:90%;
	height:80%;
	border-radius: 25px;
	padding: 25px;
	margin-left: 5%;
	margin-top:02%;
	/* opacity: 0.8; */
}

button{
	background-color: rgb(61, 170, 61);
	border-radius : 10px;
	border-collapse: collapse;
	border: none;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:white;
	padding:10px;
	margin: 20px auto;
	display: block;
	cursor: pointer;
	
	
}



.highight-menu {
    background-color: #777777 !important;
    color: white !important;
}

.checked{
    color:orange;
}
.uncheck{
    color:white;
}
table{
    border-bottom:2px solid grey;
	display: block;
	margin:0 auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 400;
	text-align: center;
}
.rmail-div:hover{background-color: rgb(0, 255, 242);}
</style>

</head>
<script type="text/javascript">
	//latest mail id
	lmid=null;
	time=null;
	//variable used to record the lateset time
	flag=0
	email=localStorage.getItem("email");
	//function to display email data
	function getData()
		{	//user state information is stored in localStorage
			
			var xhr=new XMLHttpRequest();
			xhr.open('GET','/getData/'+email,true);
			xhr.onreadystatechange=function()
			{
				if(this.readyState==4)
				{
					if(this.status==200)
					{
						var data=JSON.parse(this.responseText);
						var rmail_disp=document.getElementById("rmail_disp");
						if(data.length>0)
						{
							for(var i=0;i<data.length;i++)
							{
								var mail=data[i];
								var division=document.createElement("div");
								var table=document.createElement("table");
								// division.appendChild(table);
								division.classList="rmail-div";
								table.id=mail["id"];
								
                                
									tr=document.createElement("tr");
									
										td=document.createElement("td");
                                        td.width="100px";
										td.innerHTML=mail["send_email"]+"->"+mail["recv_email"];
										tr.appendChild(td);

										td=document.createElement("td");
										td.width="100px";
										td.innerHTML=mail["subject"];
										tr.appendChild(td);

										td=document.createElement("td");
										td.width="100px";
										if(mail["spam"]){
                                            td.innerHTML="Spam";
                                            td.style.font="red";
                                        }
                                        else{
                                            td.innerHTML="Not Spam";
                                        }
										tr.appendChild(td);

                                        td=document.createElement("td");
										td.width="100px";
										if(mail["star"]){
                                            td.innerHTML="Starred";
                                            td.style.font="golden";
                                        }
                                        else{
                                            td.innerHTML="Star?";
                                            // td.style.font=;
                                        }
										tr.appendChild(td);
										td.width="100px";
										td=document.createElement("td");
										td.innerHTML=mail["date"];
										if(flag==0)
										{
											lmid=mail["id"];
											flag=1;
										}
										tr.appendChild(td);
									table.appendChild(tr);

									tr=document.createElement("tr");
									tr.colspan=5
										td=document.createElement("td");
										console.log(mail["body"]);
										parser=new DOMParser();
										body=parser.parseFromString(mail["body"],'text/xml');
											td.appendChild(body.documentElement);
											//changing the id so the editor functions are not applied here
											td.childNodes[0].id="mail_body";
										tr.appendChild(td);
									table.appendChild(tr);
									table.onclick=function ()
										{	var url="/redirect_display_mail";
											localStorage.setItem("mid",this.id);
											// open(url,"","height=600,width=600,scrollbars=yes");
											window.open(url);
											// window.location.assign(url);
										}
								
								button=document.createElement("button");
								button.innerHTML="delete";
								button.id=mail["id"];
								button.onclick=function()
								{
									var url="/delete_mail/"+this.id;
									var id=this.id;
									var xhr=new XMLHttpRequest();
									xhr.open("DELETE",url,true);
									xhr.onload=function()
									{	if(this.status==200)
										{
											console.log("deleted mail");
											var tables=document.getElementsByTagName("table");
											for(i=0;i<tables.length;i++)
											{
												if(table.id==id)
													table.parentNode.removeChild(table);
											}
											this.abort();
											// getData();
										}
										else
										{
											console.log("failed to delete mail");
										}

									}
									xhr.send();
									this.parentNode.removeChild(this);
								}
								division.appendChild(table);
								rmail_disp.appendChild(division);
								rmail_disp.appendChild(button);
								
							}
						}
					}

					else
					{
						alert("Failed to load data ~x~");
					}
					time=setTimeout(getlatestdata,1000);
					
				}

			}
			xhr.send();
		}
	
function getlatestdata()
{
	var xhr=new XMLHttpRequest();
	xhr.open("GET","/getData/"+email+"/latest?lmid="+lmid,true);
	xhr.onload=function()
	{
		if(this.status==200)
		{
			data=JSON.parse(this.responseText);
			lmid=data[0]["id"];
			console.log(lmid)
			alert(data.length+" new mails received");
			var rmail_disp=document.getElementById("rmail_disp");
			if(data.length>0)
			{
				for(var i=data.length-1;i>=0;i--)
				{
					var mail=data[i];
					var table=document.createElement("table");
					table.id=mail["id"];
				
                    
						tr=document.createElement("tr");
						
							td=document.createElement("td");
                            td.width="100px";
							td.innerHTML=mail["send_email"]+"->"+mail["recv_email"];
							tr.appendChild(td);

							td=document.createElement("td");
							td.width="100px";
							td.innerHTML=mail["subject"];
							tr.appendChild(td);

							td=document.createElement("td");
							td.width="100px";
							if(mail["spam"]){
                                td.innerHTML="Spam";
                                td.style.font="red";
                            }
                            else{
                                td.innerHTML="Not Spam";
                            }
							tr.appendChild(td);

                            td=document.createElement("td");
							td.width="100px";
							if(mail["star"]){
                                td.innerHTML="Starred";
                                td.style.font="golden";
                            }
                            else{
                                td.innerHTML="Star?";
                                // td.style.font=;
                            }
							tr.appendChild(td);

							td=document.createElement("td");
							td.width="100px";
							td.innerHTML=mail["date"];
							if(flag==0)
							{
								lmid=mail["id"];
								flag=1;
							}
							tr.appendChild(td);
						table.appendChild(tr);

						tr=document.createElement("tr");
						tr.colspan=5
							td=document.createElement("td");
							console.log(mail["body"]);
							parser=new DOMParser();
							body=parser.parseFromString(mail["body"],'text/xml');
								td.appendChild(body.documentElement);
								//changing the id so the editor functions are not applied here
								td.childNodes[0].id="mail_body";
							tr.appendChild(td);
						table.appendChild(tr);
						table.onclick=function ()
							{	var url="/redirect_display_mail";
								localStorage.setItem("mid",this.id);
								// open(url,"","height=600,width=600,scrollbars=yes");
								window.open(url);
								// window.location.assign(url);
							}
					
					button=document.createElement("button");
					button.innerHTML="delete";
					button.id=mail["id"];
					button.onclick=function()
					{
						var url="/delete_mail/"+this.id;
						var id=this.id;
						this.parentNode.removeChild(this);
						var xhr=new XMLHttpRequest();
						xhr.open("DELETE",url,true);
						xhr.onload=function()
						{	if(this.status==200)
							{
								console.log("deleted mail");
								var tables=document.getElementsByTagName("table");
											for(i=0;i<tables.length;i++)
											{
												if(table.id==id)
													table.parentNode.removeChild(table);
											}
											
								this.abort();
								//getData();
							}
							else
							{
								console.log("failed to delete mail");
							}

						}
						xhr.send();
						this.parentNode.removeChild(this);
					}
					rmail_disp.insertBefore(button,rmail_disp.childNodes[0]);
					rmail_disp.insertBefore(table,rmail_disp.childNodes[0]);
				}
			}
					

		}
		xhr.abort();
			clearTimeout(time);
			time=setTimeout(getlatestdata,2000);
		

	}
	xhr.send();
}
function compose(){
            open("/compose","", "height=600,width=600,scrollbars=yes");
        }

</script>
<body onload="getData()">
	<div>
        <button onclick="compose(this)" style="margin-top:100px" >Compose New Mail</button>
    </div>
    <div id="rmail_disp" class="rmail">
    </div>

    


</body>
</html>